@charset "utf-8";


body {overflow-x: hidden; overflow-y: auto;}
#cvcv {position: relative; height: 80px; width: 100%; }

.t_bg{position: relative; width: 100%; height: 400px; background: url(../images/fall.png) no-repeat; z-index: 10; background-attachment: fixed; background-size: cover; background-position: 0 -150px;}
.t_bg h2 {text-align: center; padding-top: 130px; color: white; font-size: 2vw;}
.t_bg p {text-align: center; padding-top: 90px; color: white; font-size: 1.5vw; }

section {position: relative; width: 100%;}
#section_1 {position: relative; padding-top: 10px;}
#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2vw;}
#section_1 h2:after {content:""; display: block; width: 15%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}

#section_2 {position: relative; width: 100%; max-width: 1400px; margin: 0 auto;}
#section_2 .s2 {}
#section_2 .s2 .s2_ggtb {margin-top: 3%;}
#section_2 .s2 .s2_ggtb .ggn {font-size: 1.2vw; padding-bottom: 2%; font-weight: bold;}
.ggt , .ggb {text-align: center; width: 100%;}
.ggt td {}
.ggt > td > img {width: 80px; height: 80px;}
.ggb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 0.9vw; line-height: 1.3vw;}

#section_3 {position: relative; width: 100%; max-width: 1400px; margin: 0 auto; padding-top: 10px;}
#section_3 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2vw;}
#section_3 h2:after {content:""; display: block; width: 15%; height: 1px; background: black; margin: 0 auto; margin-top: 2%;}
#section_3 .s3 {width: 100%; margin:0 auto;}
#section_3 .s3 .s3_pktb {margin-top: 3%;}
#section_3 .s3 .s3_pktb .pkn {font-size: 1.2vw; padding-bottom: 2%; font-weight: bold;}
.pkt , .pkb {text-align: center;}
.ggt { }
.ggt td {}
.ggb {}
.pkt > td > img {width: 80px; height: 80px;}
.pkb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 0.9vw; line-height: 1.3vw;}

#section_4 {position: relative; width: 100%; max-width: 1400px; margin: 0 auto; padding-top: 10px;}
#section_4 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2vw;}
#section_4 h2:after {content:""; display: block; width: 35%; height: 1px; background: black; margin: 0 auto; margin-top: 2%;}

#section_4 .s4 {width: 100%; margin:0 auto;}
#section_4 .s4 .s4_bustb {margin-top: 3%;}
#section_4 .s4 .s4_bustb .busn {font-size: 1.2vw; padding-bottom: 2%; font-weight: bold;}
.bust , .busb {text-align: center;}
.bust { }
.bust td {}
.busb {}
.bust > td > img {width: 80px; height: 80px;}
.busb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 0.9vw; line-height: 1.3vw;}

.s4_bustb > table {margin-bottom: 5%;}


@media screen and (min-width:1200px) and (max-width:1399px){
	.t_bg h2 {text-align: center; padding-top: 130px; color: white; font-size: 2.5vw;}
	.t_bg p {text-align: center; padding-top: 90px; color: white; font-size: 1.5vw; }
	
	#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2.1vw;}
	#section_1 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}
	

#section_2 .s2 .s2_ggmap iframe{height: 500px;}
#section_2 .s2 .s2_ggtb {margin-top: 3%;}
#section_2 .s2 .s2_ggtb table {width: 95%; margin: 0 auto;}
#section_2 .s2 .s2_ggtb .ggn {font-size: 1.5vw; padding-bottom: 2%; padding-left: 5%;}
.ggt , .ggb {text-align: center;}
.ggt > td > img {width: 70px; height: 70px;}
.ggb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 1.1vw; line-height: 1.3vw;}
	


#section_3 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2.1vw;}
#section_3 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top: 2%;}
#section_3 .s3 {width: 100%; margin:0 auto;}
#section_3 .s3 .s3_pkmap iframe {height: 500px;}
#section_3 .s3 .s3_pktb {margin-top: 3%;}
#section_3 .s3 .s3_pktb table {width: 95%; margin: 0 auto;}
#section_3 .s3 .s3_pktb .pkn {font-size: 1.5vw; padding-bottom: 2%; padding-left: 5%;}
.pkt , .pkb {text-align: center;}
.pkt > td > img {width: 70px; height: 70px;}
.pkb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 1.1vw; line-height: 1.3vw;}
	

#section_4 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2.1vw;}
#section_4 h2:after {content:""; display: block; width: 30%; height: 1px; background: black; margin: 0 auto; margin-top: 2%;}
#section_4 .s4 {width: 100%; margin:0 auto;}
#section_4 .s4 .s4_busmap iframe {height: 500px;}
#section_4 .s4 .s4_bustb {margin-top: 3%;}
#section_4 .s4 .s4_bustb table {width: 95%; margin: 0 auto; margin-bottom: 5%;}
#section_4 .s4 .s4_bustb .busn {font-size: 1.5vw; padding-bottom: 2%; padding-left: 5%;}
.bust , .busb {text-align: center;}
.bust > td > img {width: 70px; height: 70px;}
.busb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 1.1vw; line-height: 1.3vw;}
}


@media screen and (min-width:800px) and (max-width:1199px){
	.t_bg{position: relative; width: 100%; height: 300px; background: url(../images/attach.png) center center no-repeat; z-index: 10;}
	.t_bg h2 {text-align: center; padding-top: 100px; color: white; font-size: 2.5vw; }
	.t_bg p {text-align: center; padding-top: 60px; color: white; font-size: 1.5vw;}
	
	/*#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2vw;}
	#section_1 h2:after {content:""; display: block; width: 10%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}*/
	
	#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2.2vw;}
	#section_1 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}
	

#section_2 .s2 .s2_ggmap iframe{height: 400px;}
#section_2 .s2 .s2_ggtb {margin-top: 3%;}
#section_2 .s2 .s2_ggtb table {width: 95%; margin: 0 auto;}
#section_2 .s2 .s2_ggtb .ggn {font-size: 1.6vw; padding-bottom: 2%; padding-left: 5%;}
.ggt , .ggb {text-align: center;}
.ggt > td > img {width: 60px; height: 60px;}
.ggb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 1.2vw; line-height: 1.3vw;}
	


#section_3 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2.2vw;}
#section_3 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top: 2%;}
#section_3 .s3 .s3_pkmap iframe {height: 400px;}
#section_3 .s3 .s3_pktb {margin-top: 3%;}
#section_3 .s3 .s3_pktb table {width: 95%; margin: 0 auto;}
#section_3 .s3 .s3_pktb .pkn {font-size: 1.6vw; padding-bottom: 2%; padding-left: 5%;}
.pkt , .pkb {text-align: center;}
.pkt > td > img {width: 60px; height: 60px;}
.pkb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 1.2vw; line-height: 1.3vw;}
	

#section_4 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2.2vw;}
#section_4 h2:after {content:""; display: block; width: 30%; height: 1px; background: black; margin: 0 auto; margin-top: 2%;}
#section_4 .s4 {width: 100%; margin:0 auto;}
#section_4 .s4 .s4_busmap iframe {height: 400px;}
#section_4 .s4 .s4_bustb {margin-top: 3%;}
#section_4 .s4 .s4_bustb table {width: 95%; margin: 0 auto; margin-bottom: 5%;}
#section_4 .s4 .s4_bustb .busn {font-size: 1.6vw; padding-bottom: 2%; padding-left: 5%;}
.bust , .busb {text-align: center;}
.bust > td > img {width: 60px; height: 60px;}
.busb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 1.2vw; line-height: 1.3vw;}
	


}

@media all and (max-width:800px){
	.t_bg{position: relative; width: 100%; height: 200px; background: url(../images/attach.png) center center no-repeat; z-index: 10;}
	.t_bg h2 {text-align: center; padding-top: 60px; color: white; font-size: 20px;}
	.t_bg p {text-align: center; padding-top: 30px; color: white; font-size: 18px; }
	
	/*#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2vw;}
	#section_1 h2:after {content:""; display: block; width: 10%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}
	*/
	
	#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 14px;}
	#section_1 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}
	

#section_2 .s2 .s2_ggmap iframe{height: 300px;}
#section_2 .s2 .s2_ggtb {margin-top: 3%;}
#section_2 .s2 .s2_ggtb table {width: 95%; margin: 0 auto;}
#section_2 .s2 .s2_ggtb .ggn {font-size: 15px; padding-bottom: 5%; padding-left: 5%;}
.ggt , .ggb {text-align: center;}
.ggt > td > img {width: 30px; height: 30px;}
.ggb > td {padding-top: 1.5%; padding-bottom: 4.5%; font-size: 11px; line-height: 3.5vw;}
	


#section_3 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 14px;}
#section_3 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top: 2%;}
#section_3 .s3 .s3_pkmap iframe {height: 300px;}
#section_3 .s3 .s3_pktb {margin-top: 3%;}
#section_3 .s3 .s3_pktb table {width: 95%; margin: 0 auto;}
#section_3 .s3 .s3_pktb .pkn {font-size: 15px; padding-bottom: 5%; padding-left: 5%;}
.pkt , .pkb {text-align: center;}
.pkt > td > img {width: 30px; height: 30px;}
.pkb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 11px; line-height: 3.5vw;}
	

#section_4 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 14px;}
#section_4 h2:after {content:""; display: block; width: 30%; height: 1px; background: black; margin: 0 auto; margin-top: 2%;}
#section_4 .s4 {width: 100%; margin:0 auto;}
#section_4 .s4 .s4_busmap iframe {height: 300px;}
#section_4 .s4 .s4_bustb {margin-top: 3%;}
#section_4 .s4 .s4_bustb table {width: 95%; margin: 0 auto; margin-bottom: 5%;}
#section_4 .s4 .s4_bustb .busn {font-size: 15px; padding-bottom: 5%; padding-left: 5%;}
.bust , .busb {text-align: center;}
.bust > td > img {width: 30px; height: 30px;}
.busb > td {padding-top: 1.5%; padding-bottom: 1.5%; font-size: 11px; line-height: 3.5vw;}
	
	
}


















