@charset "utf-8";


body {overflow-x: hidden; overflow-y: auto;}
#cvcv {position: relative; height: 80px; width: 100%; }

.t_bg{position: relative; width: 100%; height: 400px; background: url(../images/winter.png) no-repeat; z-index: 10; background-attachment: fixed; background-size: cover; background-position: bottom;}
.t_bg h2 {text-align: center; padding-top: 130px; color: white; font-size: 2vw;}
.t_bg p {text-align: center; padding-top: 90px; color: white; font-size: 1.5vw; }

section {position: relative; width: 100%;}
#section_1 {position: relative;}
#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2vw;}
#section_1 h2:after {content:""; display: block; width: 15%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}


#section_2 {position: relative; width: 100%; margin: 0 auto; max-width: 1400px;}
	
#section_2 .searchbox {width: 100%; margin: 0 auto; text-align: center; margin-bottom: 5%;}
#section_2 .searchbox .selectbox {padding-left: 1.5%; padding-right: 2%; border: 0; font-size: 0.8vw;height: 30px; border-bottom: 1px solid #000;}
#section_2 .searchbox .text {width: 30%; border: 0; font-size: 0.8vw;  color: black; border-bottom: 1px solid #000; height: 27px; margin-left: 1%; text-indent: 1vw;}
#section_2 .searchbox .text::placeholder {color: black;}
.searcharea .fa-search{cursor: pointer; font-size: 1.3vw; margin-left: 1%;}


	#section_2 .news {width: 100%;}
	#section_2 .news thead {border-top: 3px solid black; border-bottom: 1px solid grey;}
	#section_2 .news thead tr {}
	#section_2 .news thead tr td {font-weight: bold; font-size: 1vw; padding-top: 1%; padding-bottom: 1%; padding-right: 1%; padding-left: 1%; text-align: center;}
	#section_2 .news thead tr td.hnumber {width: 15%; }
	#section_2 .news thead tr td.hname {width: 70%;}
	#section_2 .news thead tr td.hdate {width: 15%;}
	#section_2 .news tbody {margin: 0; padding: 0;}
	#section_2 .news tbody tr {}
	#section_2 .news tbody tr td {padding-top: 1.5%; padding-bottom: 1.5%;}
	#section_2 .news tbody tr td.number {width: 15%; text-align: center; border-bottom: 1px solid grey; font-size: 1vw;}
	#section_2 .news tbody tr td.name {width: 70%; text-align: left; padding-left: 2%; border-bottom: 1px solid grey; font-size: 1vw;}
	#section_2 .news tbody tr td.date {width: 15%; text-align: center; border-bottom: 1px solid grey; font-size: 1vw;}

#section_2 .page_num {width: 100%; text-align: center; margin: 0 auto; display: inline-block; position: relative; margin-top: 2%; margin-bottom: 5%;}
#section_2 .page_num .front {display: inline-block; width: 36px; height: 35px; padding-top: 5px; background: url(../images/front.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
#section_2 .page_num .prev {display: inline-block; width: 36px; height: 35px; background: url(../images/prev.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
#section_2 .page_num .num_1 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#section_2 .page_num .num_2 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#section_2 .page_num .num_3 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#section_2 .page_num .num_4 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#section_2 .page_num .num_5 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#section_2 .page_num .next {display: inline-block; width: 36px; height: 35px; background: url(../images/next.png); margin-right: 1%; position: relative; top: 10px; background-size: cover;}
#section_2 .page_num .back {display: inline-block; width: 36px; height: 35px; background: url(../images/back.png); position: relative; top: 10px; background-size: cover;}
.onClick{border: 1px solid black; font-weight: bold;}


@media screen and (min-width:1200px) and (max-width:1399px){
	.t_bg h2 {text-align: center; padding-top: 130px; color: white; font-size: 2.5vw;}
	.t_bg p {text-align: center; padding-top: 90px; color: white; font-size: 1.5vw; }
	
	#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2.1vw;}
	#section_1 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}
	
	
	#section_2 .news {width: 90%; margin: 0 auto;}
	#section_2 .news thead {border-top: 3px solid black; border-bottom: 1px solid grey;}
	#section_2 .news thead tr {}
	#section_2 .news thead tr td {font-weight: bold; font-size: 1.2vw; padding-top: 1%; padding-bottom: 1%; padding-right: 1%; padding-left: 1%; text-align: center;}
	#section_2 .news thead tr td.hnumber {width: 15%;}
	#section_2 .news thead tr td.hname {width: 70%;}
	#section_2 .news thead tr td.hdate {width: 15%;}
	#section_2 .news tbody {margin: 0; padding: 0;}
	#section_2 .news tbody tr {}
	#section_2 .news tbody tr td {padding-top: 1.5%; padding-bottom: 1.5%;}
	#section_2 .news tbody tr td.number {width: 15%; text-align: center; border-bottom: 1px solid grey; font-size: 1.1vw;}
	#section_2 .news tbody tr td.name {width: 70%; text-align: left; padding-left: 2%; border-bottom: 1px solid grey; font-size: 1.1vw;}
	#section_2 .news tbody tr td.date {width: 15%; text-align: center; border-bottom: 1px solid grey; font-size: 1.1vw;}
    
    

}


@media screen and (min-width:800px) and (max-width:1199px){
	.t_bg{position: relative; width: 100%; height: 300px; background: url(../images/attach.png) center center no-repeat; z-index: 10;}
	.t_bg h2 {text-align: center; padding-top: 100px; color: white; font-size: 2.5vw; }
	.t_bg p {text-align: center; padding-top: 60px; color: white; font-size: 1.5vw;}
	

	
	#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2.2vw;}
	#section_1 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}
	

	#section_2 .news {width: 90%; margin: 0 auto;}
	#section_2 .news thead {border-top: 3px solid black; border-bottom: 1px solid grey;}
	#section_2 .news thead tr {}
	#section_2 .news thead tr td {font-weight: bold; font-size: 1.2vw; padding-top: 1%; padding-bottom: 1%; padding-right: 1%; padding-left: 1%; text-align: center;}
	#section_2 .news thead tr td.hnumber {width: 15%;}
	#section_2 .news thead tr td.hname {width: 70%;}
	#section_2 .news thead tr td.hdate {width: 15%;}
	#section_2 .news tbody {margin: 0; padding: 0;}
	#section_2 .news tbody tr {}
	#section_2 .news tbody tr td {padding-top: 1.5%; padding-bottom: 1.5%;}
	#section_2 .news tbody tr td.number {width: 15%; text-align: center; border-bottom: 1px solid grey; font-size: 1.2vw;}
	#section_2 .news tbody tr td.name {width: 70%; text-align: left; padding-left: 2%; border-bottom: 1px solid grey; font-size: 1.2vw;}
	#section_2 .news tbody tr td.date {width: 15%; text-align: center; border-bottom: 1px solid grey; font-size: 1.2vw;}
    
    #section_2 .page_num .front {display: inline-block; width: 25px; height: 24px; padding-top: 5px; background: url(../images/front.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
    
    #section_2 .page_num .prev {display: inline-block; width: 25px; height: 24px; background: url(../images/prev.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
    
    #section_2 .page_num .num_1 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .num_2 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .num_3 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .num_4 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .num_5 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .next {display: inline-block; width: 25px; height: 24px; background: url(../images/next.png); margin-right: 1%; position: relative; top: 10px; background-size: cover;}
    
    #section_2 .page_num .back {display: inline-block; width: 25px; height: 24px; background: url(../images/back.png); position: relative; top: 10px; background-size: cover;}


}

@media all and (max-width:800px){
	.t_bg{position: relative; width: 100%; height: 200px; background: url(../images/attach.png) center center no-repeat; z-index: 10;}
	.t_bg h2 {text-align: center; padding-top: 60px; color: white; font-size: 20px;}
	.t_bg p {text-align: center; padding-top: 30px; color: white; font-size: 18px; }
	

	#section_1 > h2 {text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 14px;}
	#section_1 h2:after {content:""; display: block; width: 14%; height: 1px; background: black; margin: 0 auto; margin-top:2%;}
	
	#section_2 .news {width: 90%; margin: 0 auto;}
	#section_2 .news thead {border-top: 3px solid black; border-bottom: 1px solid grey;}
	#section_2 .news thead tr {}
	#section_2 .news thead tr td {font-weight: bold; font-size: 1.2vw; padding-top: 1%; padding-bottom: 1%; padding-right: 1%; padding-left: 1%; text-align: center;}
	#section_2 .news thead tr td.hnumber {width: 15%;}
	#section_2 .news thead tr td.hname {width: 65%;}
	#section_2 .news thead tr td.hdate {width: 20%;}
	#section_2 .news tbody {margin: 0; padding: 0;}
	#section_2 .news tbody tr {}
	#section_2 .news tbody tr td {padding-top: 1.5%; padding-bottom: 1.5%;}
	#section_2 .news tbody tr td.number {width: 13%; text-align: center; border-bottom: 1px solid grey; font-size: 1.2vw;}
	#section_2 .news tbody tr td.name {width: 65%; text-align: left; padding-left: 2%; border-bottom: 1px solid grey; font-size: 1.2vw;}
	#section_2 .news tbody tr td.date {width: 22%; text-align: center; border-bottom: 1px solid grey; font-size: 1.2vw;}
    
    #section_2 .page_num .front {display: inline-block; width: 25px; height: 24px; padding-top: 5px; background: url(../images/front.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
    
    #section_2 .page_num .prev {display: inline-block; width: 25px; height: 24px; background: url(../images/prev.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
    
    #section_2 .page_num .num_1 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .num_2 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .num_3 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .num_4 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .num_5 {display: inline-block; width: 25px; height: 24px; line-height: 24px; margin-right: 1%; position: relative; top: 2px; font-size: 12px;}
    
    #section_2 .page_num .next {display: inline-block; width: 25px; height: 24px; background: url(../images/next.png); margin-right: 1%; position: relative; top: 10px; background-size: cover;}
    
    #section_2 .page_num .back {display: inline-block; width: 25px; height: 24px; background: url(../images/back.png); position: relative; top: 10px; background-size: cover;}
	
}


















